/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

.superTitle {
    color: rgb(255, 255, 148);
}

.spText {
    font-size: 60px;
}

.hr {
    width: 450px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}



.clearfix:after { content: '\20'; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }

.oneSpBox img {
    width: 50%;
}

.oneSpBox div h1 {
    font-size: 45px;
    margin: 1%;
} 
.oneSpBox div h2 {
    font-size: 28px;
    margin: 1%;
} 

.oneSpBox {
    background-color: rgb(226, 226, 226);
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.383) 3px 3px 5px;
}

.titleText {
    padding: 7%;
    font-size: 300%;
    text-align: center;
    color: white;
}

.titleImg {
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top 100%;
    display: block;
    background-attachment: fixed;
    background-image: url("../assets/hub/hub.png");
}

.imger {
    width: 100%;
}

.Box {
    text-align: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.joinBox {
    float: right;
    margin-right: 13%;
    padding-top: 2%;
}

.iframe {
    padding-left: 5%;
}

.JoinBigBox {
    text-align: center;
    width:100%;
}


.BoxText {
    font-size: 60px;
    margin: 2%;
}

/* .app {
    height: 100vh;
    overflow: hidden;
} */