
body {
    background-color: rgb(240, 240, 240);
    margin: 0%;
    font-family: 'Noto Sans TC', sans-serif;
}


.anvbar {
    top:0px;
    background-color: white;
    z-index: 10;
    /* 邊框(底) */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e6e6e6;
    position: sticky ;
    box-shadow: 0px 10px 15px -18px #111;
    /* box-shadow: 50px -50px -50px 50px black; */
}

.anvbar ul {
    margin-left: 75px;
}

.iconImg {
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
    width: 55px;
    height: 55px;
    z-index: 1231232;
    float: left;
}